
code/.ipynb_checkpoints/d1-checkpoint.ipynb
.DS_Store
code/.ipynb_checkpoints/d3-checkpoint.ipynb
code/.ipynb_checkpoints/d2-checkpoint.ipynb
code/.ipynb_checkpoints/d4-checkpoint.ipynb
/data
.ipynb_checkpoints/d6a-checkpoint.png
.ipynb_checkpoints/d6b-checkpoint.png
code/.ipynb_checkpoints/d6-checkpoint.ipynb
code/.ipynb_checkpoints/d7-checkpoint.ipynb
code/.ipynb_checkpoints/d8-checkpoint.ipynb
